<div class="container">

 <h3>Detected devices</h3>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="filterDevices"></label>
      <div class="input-group">
        <input type="text" class="form-control" id="filterDevices" ng-model="filter" ng-change="filterDevices()" placeholder="search">
        <div class="input-group-addon"><i class="fa fa-search"/></div>
      </div>
    </div>

  </form>

  <div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-class="{active:viewAs == 'LIST'}" title="list view" ng-click="viewAs ='LIST'"><i class="fa fa-th-list"></i></button>
      <button type="button" class="btn btn-default "ng-class="{active:viewAs == 'ITEM'}" title="item view" ng-click="viewAs ='ITEM'"><i class="fa fa-th-large"></i></button>
    </div>

  </div>

  <div class="listView" ng-show="viewAs == 'LIST'">
   <table class="table table-hover table-responsive table-condensed" >
     <thead>
       <td></td>
       <td>device id</td>
       <td>device address</td>
       <td>device status</td>
       <td>device location</td>
       <td></td>
     </thead>
    <tbody>
      <tr ng-repeat="device in devices.data">
        <td></td>
        <td>{{device.name}}</td>
        <td>{{device.addr}}</td>
        <td>{{device.status}}</td>
        <td>{{device.location}}</td>
        <td></td>
      </tr>
    </tbody>
   </table>
 </div>

 <div class="itemView" ng-show="viewAs == 'ITEM'">
   <div class="item" ng-repeat="device in devices.data">
     <div class="pull-right">
       <div class="btn-group" role="group">
         <button type="button" class="btn btn-default" title="delete item" ng-click="delete(device.id)">
           <i class="fa fa-trash"></i>
         </button>
       </div>
     </div>
     <h2 ng-click="showDevice(device.id)">{{device.name}}</h2>
     <span class="pull-right">{{device.description}}</span>
   </div>
 </div>

</div>
