<div class="container">

  <h2>
    <button  ng-click="locked = !locked" class="btn btn-vk btn-toggled" data-toggle="button">
      <i ng-show="!locked" class="fa fa-2x fa-unlock-alt"/>
      <i ng-show="locked" class="fa fa-2x fa-lock"/>
    </button >
    {{group.name}} <i ng-click="editName()" ng-show="!locked" class="pushable fa fa-pencil"/>
  </h2>

  <div class="toolbox" ng-show="!locked">
    <button></button>
  </div>
  <div class="device-min" ng-repeat="device in group.devices">
      {{device.name}} ( {{device.id}} )
      <button class="btn btn-vk pull-right">test</button>
  </div>
</div>
