@import 'colors';

div.control {
  margin:2em;
  background-color:$pane-background;
  color:$pane-foreground;
  border-left:4px solid $border-pale-blue;
  padding:2em;
}


div.colorwheel {
  min-height:320px;

  span.colorwheel {
    margin: 0px auto;
    position: relative;
    width: 12em;
    height: 11em;

    span {
      cursor: pointer;
      position: absolute;
      left:200px;
      top:9em;
      width: 6em;
      height: .5em;
      -ms-transform-origin: -50px 50%;
      -webkit-transform-origin: -50px 50%;
      -moz-transform-origin: -50px 50%;
      -o-transform-origin: -50px 50%;
      transform-origin: -50px 50%;
      opacity: 0.5;

      &:hover {
        opacity:1;
      }
    }
  }
}
