@import 'colors';

div.control {
  margin:2em;
  border:1px solid darken($foreground-light, 18%);
  border-radius:1em;
}


div.colorwheel {
  min-height:320px;

  span.colorwheel {
    margin: 20px auto;
    position: relative;
    width: 320px;
    height: 320px;

    span {
      cursor: pointer;
      position: absolute;
      left:200px;
      top:160px;
      width: 100px;
      height: 8px;
      -ms-transform-origin: -50px 50%;
      -webkit-transform-origin: -50px 50%;
      -moz-transform-origin: -50px 50%;
      -o-transform-origin: -50px 50%;
      transform-origin: -50px 50%;
      opacity: 0.25;

      &:hover {
        opacity:1;
      }
    }
  }
}
